.unity-label {
    font-size: 24px;
}

.menu {
    position: absolute;
    left: 20px;
    color: rgb(255, 255, 255);
}

.show-menu {
    opacity: 1;
    top: 20px;
    transition-property: top, opacity;
    transition-timing-function: ease-out-cubic, ease;
    transition-duration: 0.25s, 0.25s;
}

.hide-menu {
    opacity: 0;
    top: 200px;
    transition-property: top, opacity;
    transition-timing-function: ease-in-cubic, ease;
    transition-duration: 0.25s, 0.25s;
}
